.button{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  outline: 2px solid #7EFFB2;
  padding: 30px 60px;
  overflow: hidden;
  transition: color 1s;
}

.button:hover {
  color: #090909;
}

.button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #7EFFB2;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.button:hover::before {
  transform: scaleX(1) skew(35deg);
}

.ul-button {
  margin-top: 35px;
  display: flex;
  list-style-type: none;
}

.ul-button li a {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 23px;
  margin-right: 50px;
  font-size: 60px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  z-index: 5;
  transition: 0.3s;
}

.ul-button li a::after {
  content: " ";
  position: absolute;
  left: 0;
top: 0;
width: 100px;
height: 100px;
border-radius: 23px;
border: 2px solid rgba(255,255, 255, 0.2);
background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
z-index: -1;
transition: 0.3s;
}

.ul-button li a:hover {
	transition: rotate(-15deg);
}

.ul-button li a:hover::before {
	transition: rotate(15deg);
}

.ul-button li a::before {
	content: " ";
	position: absolute;
	width: 100px;
	height: 100px;
	background: #dc2743;
	right: -5px;
	bottom: 0;
	border-radius: 23px;
	z-index: -1;
	transform-origin: 100% 100%;
	transform: rotate(10deg);
	transition: 0.3s;

} 

.ul-button li:nth-child(2) a::before {
	background: #25D366;
}

.ul-button li:nth-child(3) a::before {
	background: #1DA1F2;
}

.progress-bar {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	outline-offset: -1px;
}

 .progress-bar::after,
.number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:
	translate(-50%, -50%);
}

.progress-bar::after {
	content: '';
	width: 110px;
	height: 110px;
	border-radius: inherit;
	outline: onherit;
}

.circle {
	stroke-dasharray: 410;
	stroke-dashoffset: 410;
	transform: rotate(-90deg);
	animation: bar-fill 8s
linear forwards;
}

@keyframes bar-fill {
	100% {
		stroke-dashoffset: 0;
	     }
} 


/*Circle*/

.loader {
  width: 6em;
  height: 6em;
  font-size: 33px;
  position: relative;
  display: flex;
  align-items: center;
  
  top: 10px;
  left: 450px;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite; 
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: 45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;

}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em
    rgba(255, 255, 0 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}

.number {
  top: 130%;
  left: 50%;
}

ul#nav1 {
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

ul#nav1 li {
  margin-top: 10px;
  margin-right: 10px;
  color: #CBD0F7;

  display: inline-block;
  border: 2px solid #445aff;
 /* height: 28px; */
  
}

ul#nav1 li a{
  display: block;
  padding: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul#nav1 li a:hover {
  color: white;

}






























