* {
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}
.master {
    margin-top: 10%;
    margin-left: 400px;
    height: 200px;
    width: 550px;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
  justify-content: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: #fff;
  background: rgba(5, 5, 5, .9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 60px;
}

.relogio span.tempo {
  font-size: 10px;
}

/*Circle*/

.loader {
  width: 6em;
  height: 6em;
  font-size: 33px;
  position: relative;
  display: flex;
  align-items: center;
  
  top: 50px;
  left: 560px;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite; 
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  /* color: gold; */
  color: #ffe53bd8;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: 45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  /* color: lime; */
  color: #ff2525da;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;

}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em
    rgba(255, 255, 0 0.1);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}

.number {
  top: 130%;
  left: 50%;
}

ul#nav1 {
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

ul#nav1 li {
  margin-top: 10px;
  margin-right: 10px;
  color: #CBD0F7;

  display: inline-block;
  border: 2px solid #445aff;
 /* height: 28px; */
  
}

ul#nav1 li a{
  display: block;
  padding: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul#nav1 li a:hover {
  color: white;

}